@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

@keyframes lazy-fox-carousel-scroll {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

.lazy-fox-carousel {
  animation: lazy-fox-carousel-scroll 40s linear infinite;
  will-change: transform;
}
